JsonImportedResources/pipeline/ExcelToSqlPipeline.json
{
	"name": "ExcelToSqlPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyFirstSheet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SinkAzureSqlDb",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEachSheetActivity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CopyFirstSheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('SheetName')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SheetName": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}